//Colors
$lightBlueAccent: #438CEF;
$blueAccent: #1059BC;
$darkBlueAccent: #072855;
$blackMain: #292626;
$greyDark: #4f4f4f;
$greyLight: #d9d9d9;
$whiteMain: #f2f2f2;

//Specifics
$successGreen: #27Ae60;
$warningOrange: #f2994a;
$redError: #eb5757;
$cyanInfo: #9ee2ff;















// specific colors
$navHeight: 6em;
$navColor: #c85168;
$slideColor: #dccd4c;
$headerColor: '#85469E';
$darkGray: #272727;

// Logo colors
$violeta: #623375;
$verde: #5fb238;
$rosa: #d3435f;
$amarillo: #efdc38;
$marronClaro: #c9933d;
$marronOscuro: #3e1d13;
$grisClaro: #c2b5bb;
$grisOscuro: #737171;

// Dark theme
$darkBody: #5c4267; //old #394253
$darkText: #fafafa;
$darkBackground: #999;
$darkToggleBorder: #6b8096;


// ShadowBox
$shadowDarkest: #3c3b3b;
$shadowDark: #505050;

$shadowWhite: rgb(104 113 134 / 80%);